html{
  background-color: #444;
}
body{
  background: #d6d3d3 url(/images/bg.png) top left no-repeat;
  margin: 0;
  padding: 0;
  font-family: helvetica,arial,clean,sans-serif;
  font-weight: normal;
  font-size: 1em;
  color: #333;
  text-shadow: #fff 0px 1px 1px;
}

body a{
  color: #3771c8;
  text-decoration: none;
}
body a:hover{
  color: #162d50;
}
body h2{
  margin: 0;
  padding: 0;
  color: #444;
  text-transform: uppercase;
  text-shadow: #fff 0px 1px 1px;
  letter-spacing: -2px;
  font-size: 2.7em;
  line-height: .8;
  font-weight: 600;
}
body h2 a{
  margin: 0;
  padding: 0;
  color: #444;
  text-transform: uppercase;
  text-shadow: #fff 0px 1px 1px;
  letter-spacing: -2px;
}
body h3{
  margin: 0;
  padding: 0;
  color: #444;
  text-shadow: #fff 0px 1px 1px;
}
body h4{
  margin: 0;
  padding: 0;
  color: #444;
  text-shadow: #fff 0px 1px 1px;
  font-weight: 400;
  font-size: 1.8em;
  line-height: .8em;
}
body h5{
  margin: 0;
  padding: 0;
  color: #444;
  text-shadow: #fff 0px 1px 1px;
  font-weight: 400;
  font-size: 1.5em;
  line-height: .8em;
}
body p{
  color: #333;
  font-size: .85em;
  text-shadow: #fff 0px 1px 1px;

}
body .wrapper{
  width: 100%;
  margin: 0;
  padding: 0;
}
body .wrapper .header{
  width: 100%;
  height: 170px;
  margin: 0;
  padding: 0;
  position: relative;
  clear: both;
}
body .wrapper .header .logo{
  height: 170px;
  width: 200px;
  margin-left: 50px;
  float: left;
}
body .wrapper .header .logo a{
  display: block;
  height: 170px;
  width: 200px;
}
body .wrapper .header .logo a span{
  display: none;
}
body .wrapper .menu{
  list-style-type: none;
}
body .wrapper .menu1{
  float: left;
  margin: 92px 0 0 624px;
}
body .wrapper .menu li a{
  font-family: 'Helvetica Neue','Helvetica','Arial',sans-serif;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-decoration: none;
  color: #162d50;
  text-transform:lowercase;
}
body .wrapper .menu li.active a, body .wrapper .menu li a:hover{
  color: #3771c8;
  }
body .wrapper .menu1 li a{
  line-height: .8;
  -moz-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  transform: rotate(4deg);
}
body .wrapper .menu2{
  margin-top: 40px;
  padding: 0;
}
body .wrapper .menu2 li{
  text-align:right;
  margin-bottom: 15px;
}
body .wrapper .menu2 li a{
  -moz-transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
}
body .wrapper .navigation{
  width: 200px;
  margin-left: 50px;
  float: left;
}
body .wrapper .content{
  width: 800px;
  margin-left: 75px;
  float: left;
}
body .wrapper .content table.subdued{
  margin: 20px 30px;
  width: 600px;
  padding: 10px;
  border: 1px solid #fff;
}
body .wrapper .content table.subdued th{
  text-align: left;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}
body .wrapper .content table.subdued td{
  text-align: left;
  padding: 5px 0;
}
body .wrapper .content table.form-table{
  padding: 10px;
  text-align: left;
  margin: 10px auto 0;
  border: 1px solid #fff;
}
body .wrapper .content table.form-table tr{
  vertical-align: top;
  
}
body .wrapper .content table.form-table tr th{
  vertical-align: top;
  border-bottom: 0;
}
body .wrapper .content table.form-table tr input, body .wrapper .content table.form-table tr textarea{
  width: 300px;
}

/*****  portfolio section ******/

body .wrapper .content p.top-text{
  font-size: 1em;
}
body .wrapper .content .portfolio-listing{
  padding: 10px;
  border: 1px solid #fff;
  clear: both;
  margin-bottom: 20px;
}
body .wrapper .content .portfolio-listing:hover{
  background-color: #bbb;
}
body .wrapper .content .portfolio-listing .portfolio-text{
  padding-top: 20px;
  width: 400px;
  float: left;
}
body .wrapper .content .portfolio-listing img{
 float: right;
}
body .wrapper .content .portfolio-listing p{

} 

/******************Featured Page Section **********************/

body .wrapper .content .home .portfolio-listing{
  padding: 10px;
  border: 0;
  clear: both;
  margin-bottom: 20px;
}
body .wrapper .content .home .portfolio-listing:hover{
  background-color: transparent;
}
body .wrapper .content .home .portfolio-listing h4{
  margin: 10px 0;
}
/****************************************/


body .wrapper .tabbed-container{
  margin: 20px 0 0;
  padding: 0;
}
body .wrapper .tabbed-container .tab-menu{
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 200px;
  float: left;
}
body .wrapper .tabbed-container .tab-menu li{
  padding: 10px;
  font-size: 1.1em;
}
body .wrapper .tabbed-container .tab-menu li.ui-state-active{
  border-bottom: 1px solid #aaa;
  border-top: 1px solid #aaa;
  background-color: #f2f2f2;
  border-left: 1px solid #aaa;
  -moz-border-radius: 8px 0 0 8px;
  border-radius: 8px 0 0 8px;
}
body .wrapper .tabbed-container .tab-menu li a{
  color: #aaa;
}
body .wrapper .tabbed-container .tab-menu li a:hover{
  color: #666;
}
body .wrapper .tabbed-container .tab-menu li.ui-state-active a{
  color: #666;
}
body .wrapper .tabbed-container .tabbed-content{
  padding: 10px;
  float: left;
  width: 577px;
  background-color: #f2f2f2;
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  -moz-border-radius: 0 8px 8px 8px;
  border-radius: 0 8px 8px 8px;
  }
body .wrapper .tabbed-container .tabbed-content p{
  margin-top: 0;
}
body .wrapper .tabbed-container .tabbed-content.hiding{
  display: none;
}
.clear{
  clear: both;  
}
body .wrapper .footery{
  border-top: 1px solid #222;
  width: 100%;
  background-color: #444;
  margin-top: 60px;
  margin-bottom: 0;
  padding-bottom: 10px;
}
body .wrapper .footery .footery-container{
  border-top: 1px solid #999;
  width: 100%;
  padding-top: 5px;
}
body .wrapper .footery .footery-container p{
  text-align: center;
  color: #eee;
  font-size: .7em;
  text-shadow: none;
}

.single-article{
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: -40px;
}
.single-article .blog_post{
  float: left;
  width: 600px;
  -moz-border-radius: 0 15px 15px 15px;
  -webkit-border-radius: 0 15px 15px 15px;
  -o-border-radius: 0 15px 15px 15px;
}
.blog_post{
  border:1px solid #fff;
  margin-bottom:20px;
  margin-right:0;
  padding:10px;
}
.articles_container{
  position: relative;
  z-index: 100000;
  float:right;
  width:510px;
}
.tag_cloud{
  -moz-box-shadow:0 0 10px #AAAAAA;
  -o-box-shadow:0 0 10px #AAAAAA;
  -webkit-box-shadow:0 0 10px #AAAAAA;
  box-shadow:0 0 10px #AAAAAA;
  float:left;
  width: 240px;
  padding: 10px;
  -moz-border-radius: 0 15px 15px 15px;
  -webkit-border-radius: 0 15px 15px 15px;
  -o-border-radius: 0 15px 15px 15px;
  border-radius: 0 15px 15px 15px;
}
.tag_cloud ul.popularity{
  margin: 0;
  padding: 0;
}
.tag_cloud ul.popularity li{
  display: inline;
}
.tag_cloud ul.popularity li a.v-popular{
  font-size: 100%;
}
.tag_cloud ul.popularity li a.vv-popular{
  font-size: 140%;
}
.tag_cloud ul.popularity li a.vvv-popular{
  font-size: 180%;
  font-weight: 600;
}
.tag_cloud ul.popularity li a.vvvv-popular{
  font-size: 220%;
  font-weight: 600;
}
#navigation h3{
  display: none;
}
.clear{
  clear: both;
}
.ui-tabs .ui-tabs-hide {
  display: none;
}
.contact-form{
  padding: 10px;
  border: 1px solid #fff;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.contact-form textarea{
  width: 700px;
  height: 50px;
}
