<div class="footery">
  <div class='footery-container'>
    <p>
      Isotope 11 - 529 Beacon Pkwy W - Suite 105 - Birmingham, AL 35209           <br />
      p: 205.742.9671 - f: 205.943.5760 - e: info@isotope11.com
      <br />
      <a href="/pages/payments">Make a payment</a>
    </p>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script> <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-3168015-2");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </div>
</div>
