<div class="navigation">
  <ul class='menu menu2'>
    <li class="first">
      <a href="/pages/home">Home</a>
    </li> 

    <li class="">
      <a href="/pages/work">Work</a>
    </li> 

    <li class="">
      <a href="/pages/what_we_do">What We Do</a>
    </li> 

    <li class="last">
      <a href="/pages/client_resources">Client Resources</a>
    </li> 
    <li>
      <a href='/posts'>blog</a>
    </li>
  </ul>
</div>
