<div align="center">
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_xclick" /> <input type="hidden" name="business" value="payments@isotope11.com" /> <input type="hidden" name="item_name" value="Isotope Eleven" /> <input type="hidden" name="item_number" value="Services" /> <input type="hidden" name="no_shipping" value="0" /> <input type="hidden" name="no_note" value="1" /> <input type="hidden" name="currency_code" value="USD" /> <input type="hidden" name="lc" value="US" /> <input type="hidden" name="bn" value="PP-BuyNowBF" /> <input border="0" type="image" src="https://www.paypal.com/en_US/i/btn/btn_paynowCC_LG.gif" name="submit" alt="PayPal - The safer, easier way to pay online!" /> <img border="0" width="1" height="1" alt="" src="https://www.paypal.com/en_US/i/scr/pixel.gif" />
</form>
<br />
<br />
<strong>Question:</strong> Do I need a paypal account to use this payment method?<br />
<br />
<div align="center"><strong>Answer: </strong>NO. You do not need a paypal account to use this. Simply follow the instructions on the<br />
left hand side of the payment screen.</div>
<br />
<br />
<noscript><input type="submit" name="new_user_button.x" value="Continue" class="transparentButton" alt=""></noscript>
<div id="xptCardIcons"><img border="0" width="26" height="16" alt="Visa" class="marginBottom" src="https://www.paypalobjects.com/WEBSCR-475-20070806-1/en_US/i/logo/logo_ccVisa.gif" /><wbr></wbr><img border="0" alt="Mastercard" class="marginBottom" src="https://www.paypalobjects.com/WEBSCR-475-20070806-1/en_US/i/logo/logo_ccMC.gif" /><wbr></wbr><img border="0" alt="American Express" class="marginBottom" src="https://www.paypalobjects.com/WEBSCR-475-20070806-1/en_US/i/logo/logo_ccAmex.gif" /><wbr></wbr><img border="0" alt="Discover" class="marginBottom" src="https://www.paypalobjects.com/WEBSCR-475-20070806-1/en_US/i/logo/logo_ccDiscover.gif" /><wbr></wbr><img border="0" alt="eCheck" class="marginBottom" src="https://www.paypalobjects.com/WEBSCR-475-20070806-1/en_US/i/logo/logo_ccEcheck.gif" /><wbr></wbr><img border="0" alt="PayPal" class="marginBottom" src="https://www.paypalobjects.com/WEBSCR-475-20070806-1/en_US/i/logo/PayPal_mark_37x23.gif" /></div>
</div>
