<h2>What We Do</h2>
<p class="subdued">Isotope 11 provides custom web-based application development suited specifically for our customer's unique situations. We do not take a one size fits all approach to software development. Our developers understand that your company is different from all other companies and therefore your IT and web development needs are unique.</p>
<table class="subdued">
  <thead>
    <tr>
      <th>Technologies</th>
      <th>Languages</th>
      <th>Web</th>
      <th>Database</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Rails</td>
      <td>Ruby</td>
      <td>CSS</td>
      <td>MySQL</td>
    </tr>
    <tr>
      <td>Computers</td>
      <td>C++</td>
      <td>HTML</td>
      <td>SQLite</td>
    </tr>
    <tr>
      <td>Monitors</td>
      <td>JavaScript</td>
      <td>AJAX</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Speakers</td>
      <td>Perl</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Chairs</td>
      <td>Java</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
