<h2>Work</h2>
<div class="portfolio-listing">
  <div class="portfolio-text">
    <h4>The Political Inquirer</h4>
    <p>The Political Inquirer is devoted to the free exchange of ideas through writing. Isotope 11 provided CSS and design work for the Political Inquirer.</p>
  </div>
  <img src="/images/pol.png" style="width: 350px;" alt="" /> 
  <div class='clear'> </div>
</div>
<div class="portfolio-listing">
  <div class="portfolio-text">
    <h4>AIUA</h4>
    <p>We integrated with Google Maps and Yahoo!'s geolocating service to provide a mechanism to determine the zone a given address is in without leaving the website. Boundaries for the zones are KML files.</p>
  </div>
  <img src="/images/aiua.png" style="width: 350px;" alt="" /> 
  <div class='clear'> </div>
</div>
<div class="portfolio-listing">
  <div class="portfolio-text">
    <h4>In The Making</h4>
    <p>ShopITM.com is a 5000+ item online store specializing in knitting items.</p>
  </div>
  <img src="/images/itm.png" style="width: 350px;" alt="" />
  <div class='clear'> </div>
</div>
<div class="portfolio-listing">
  <div class="portfolio-text">
    <h4>Maralyn Wilson Gallery</h4>
    <p>For 35 years the Maralyn Wilson Gallery has brought outstanding American crafts and fine art to Birmingham, Alabama. In addition, the Gallery has offered museum quality, conservation framing. To meet the needs of Maralyn Wilson Gallery Isotope 11 built a CMS-driven website that included a photo album module.</p>
  </div>
  <img src="/images/mwg.png" style="width: 350px;" alt="" />
  <div class='clear'> </div>
</div>
